/*Design e programação dos botões superiores*/
.barNav a {

    font: 12px  Arial, Verdana,Helvetica,sans-serif;
    color: #000;
    text-decoration: none;
    background:  #FFC50C;
    text-align: center;
    padding: 1px 10px;
    margin-right:5px;
    border: 2px solid #000;
}

/*botão muda de cor quando apertado*/
.barNav a:hover {

    color: #666;
    background: #FCFCFC;
    border: 1px solid #666;
}

/*Bolinhas da lista acompanham texto*/
ul,
ol {
    list-style-position: inside;
}

/* Rodapé da pagina*/
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFC50C;
    color: rgb(0, 0, 0);
    text-align: center;
    
}

/* Imagem com a borda Redonda*/
img    {
    border-radius: 50%;
}
